  <div id="home-page">
    
	<lucky-slider></lucky-slider>
    
    <div class="container-fluid home-nav">
	  <a href="#/download" class="home-nav-wrapper first"><span class="text-center home-nav-element">download</span></a>  
	  <a href="#/portfolio" class="home-nav-wrapper"><span class="text-center home-nav-element">portfolio</span></a>
      <a href="#/about" class="home-nav-wrapper"><span class="text-center home-nav-element">about</span></a>    
      <a href="#/contact-me" class="home-nav-wrapper last"><span class="text-center home-nav-element">contact me</span></a>  
    </div>
  </div><!-- end of homePage !-->
