<div id="portfolioBox">
<nav id="portfolioFilter">	
	<span class="filterClick activated" rel="all">Show all</span>	
	<span class="filterClick" rel="front-end"> Front-end &amp; static</span>	
	<span class="filterClick" rel="rtm">Php &amp; CodeIgnitor framework</span>		
	<span class="filterClick" rel="wordpress">Wordpress</span>	
</nav>


<div class="container">
	<article class="row portfolio-item" ng-repeat="item in portfolio">		
		<div class="col-md-6 col-xs-12">
		<a class="imagelLink middle" rel="lightbox[set{{item.id}}]" href="/data/content_img/big/{{item.poster}}" ><img ng-src="/data/content_img/middle/{{item.poster}}" height="160" width="340" alt="{{item.name}}" /></a>
		<br />
		<a ng-repeat="image in item.images" class="imageLink" rel="lightbox[set{{item.id}}]" href="/data/content_img/big/{{image}}" ><img ng-src="/data/content_img/tmbls/{{image}}" height="160" width="160" alt="{{item.name}}" /></a>
		</div>
		
		<div class="col-md-6 col-xs-12">
			<h1 class="title">{{item.name}}</h2>
			<h2 class="subtitle">{{item.description}}</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li ng-repeat="work in item.made">{{work}}</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li ng-repeat="lang in item.languages">{{lang}}</li>					
				</ul>					
				</p>
			</div>
		</div>
	</article><!-- end of portfolioItem !-->	
</div>	
	




	<article id="portfolioItem35" rel="rtm">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set35]" href="/data/content_img/big/catarina_home.jpg" ><img src="/data/content_img/middle/catarina_home.jpg" height="160" width="340" alt="website for photoartist" /></a>
		<br />
		<a class="imageLink" rel="lightbox[set35]" href="/data/content_img/big/catarina_about.jpg" ><img src="/data/content_img/tmbls/catarina_about.jpg" height="160" width="160" alt="photoartist" /></a>
		<a class="imageLink" rel="lightbox[set35]" href="/data/content_img/big/catarina_contacts.jpg" ><img src="/data/content_img/tmbls/catarina_contacts.jpg" height="160" width="160" alt="site for photoartist" /></a>
		<a class="imageLink" rel="lightbox[set35]" href="/data/content_img/big/catarina_portfolio.jpg" ><img src="/data/content_img/tmbls/catarina_portfolio.jpg" height="160" width="160" alt="portfolio for photoartist" /></a>
		</div>
		<div class="rightFloat">
			<h2 class="title">website for photoartist</h2>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>PHP5(CodeIgniter framework) + MySQL</li>					
					<li>Layout:XHTML 1.0 Strict/CSS</li>
					<li>jQuery</li>
					<li>Compatible in IE6+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem35 !-->	

	<article id="portfolioItem34" rel="front-end">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set34]" href="/data/content_img/big/moscow_clock_market_news.jpg" ><img src="/data/content_img/middle/moscow_clock_market_news.jpg" height="160" width="340" alt="clock market" /></a>
		<br />
		<a class="imageLink" rel="lightbox[set34]" href="/data/content_img/big/moscow_clock_market_watch.jpg" ><img src="/data/content_img/tmbls/moscow_clock_market_watch.jpg" height="160" width="160" alt="online clock market" /></a>
		
		</div>
		<div class="rightFloat">
			<h2 class="title">clock market</h2>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Layout:XHTML 1.0 Strict/CSS + PIE</li>
					<li>Front-end: jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem34 !-->	
	
	<article id="portfolioItem33"  rel="front-end">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set33]" href="/data/content_img/big/la1.jpg" ><img src="/data/content_img/middle/la1.jpg" height="160" width="340" alt="LineAge 2 game portal" /></a>

		</div>
		<div class="rightFloat">
			<h2 class="title">Astralum</h2>
			<h3 class="subtitle">LineAge 2 game portal</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Layout:XHTML 1.0 Strict/CSS</li>
					<li>Front-end: jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem33 !-->		

	<article id="portfolioItem32" rel="rtm">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set32]" href="/data/content_img/big/moscow_babyshop_catalog.jpg" ><img src="/data/content_img/middle/moscow_babyshop_catalog.jpg" height="160" width="340" alt="IQ Baby Toy store" /></a>

		</div>
		<div class="rightFloat">
			<h2 class="title">IQ Baby</h2>
			<h3 class="subtitle">Toy store</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>PHP5(CodeIgniter framework) + MySQL</li>					
					<li>Layout:XHTML 1.0 Strict/CSS + PIE</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem32 !-->	
	
	<article id="portfolioItem31" rel="wordpress">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set31]" href="/data/content_img/big/ufa_mastergroup_main.jpg" ><img src="/data/content_img/middle/ufa_mastergroup_main.jpg" height="160" width="340" alt="Site for construction company" /></a>
		<br />
		<a class="imageLink" rel="lightbox[set31]" href="/data/content_img/big/ufa_mastergroup_abot.jpg" ><img src="/data/content_img/tmbls/ufa_mastergroup_abot.jpg" height="160" width="160" alt="Site for construction company" /></a>
		
		</div>
		<div class="rightFloat">
			<h2 class="title">Master group</h2>
			<h3 class="subtitle">Site for construction company</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Design</li>
					<li>Custom post types/taxonomy</li>
					<li>Full implementation into WordPress</li>
					<li>Layout:XHTML 1.0 Strict/CSS + PIE</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>

				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem31 !-->	

	<article id="portfolioItem27" rel="front-end">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set27]" href="/data/content_img/big/la2.jpg" ><img src="/data/content_img/middle/la2.jpg" height="160" width="340" alt="LineAge 2 game portal" /></a>

		</div>
		<div class="rightFloat">
			<h2 class="title">Hesiod</h2>
			<h3 class="subtitle">LineAge 2 game portal</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Layout:XHTML 1.0 Strict/CSS</li>
					<li>Front-end: jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem27 !-->	

	<article id="portfolioItem26"  rel="wordpress">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set26]" href="/data/content_img/big/moscow_babyjoger_catalog.jpg" ><img src="/data/content_img/middle/moscow_babyjoger_catalog.jpg" height="160" width="340" alt="Baby strollers shop" /></a>

		</div>
		<div class="rightFloat">
			<h2 class="title">Baby Jog</h2>
			<h3 class="subtitle">Baby strollers shop</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
				<ul>
					<li>Design</li>
					<li>Custom post types/taxonomy</li>
					<li>Full implementation into WordPress</li>				
					<li>Layout:XHTML 1.0 Strict/CSS</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem26 !-->	

	<article id="portfolioItem24" rel="rtm">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set24]" href="/data/content_img/big/moscow-customcompany.jpg" ><img src="/data/content_img/middle/moscow-customcompany.jpg" height="160" width="340" alt="customs maintenance company" /></a>

		</div>
		<div class="rightFloat">
			<h2 class="title">Russ'</h2>
			<h3 class="subtitle">customs maintenance company</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
				<ul>
					<li>PHP5(CodeIgniter framework) + MySQL</li>
					<li>Layout:XHTML 1.0 Strict/CSS + PIE</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem24 !-->	

	<article id="portfolioItem23" rel="wordpress">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set23]" href="/data/content_img/big/samui-blog-shop-main.jpg" ><img src="/data/content_img/middle/samui-blog-shop-main.jpg" height="160" width="160" alt="Blog about Thailand" /></a>
		<br />		
		<a class="imageLink" rel="lightbox[set23]" href="/data/content_img/big/samui-blog-shop-catalog.jpg" ><img src="/data/content_img/tmbls/samui-blog-shop-catalog.jpg" height="160" width="160" alt="buty shop" /></a>
		</div>
		<div class="rightFloat">
			<h2 class="title">Overborder</h2>
			<h3 class="subtitle">Blog about Thailand and natural cosmetics shop</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Design</li>
					<li>Custom post types/taxonomy</li>
					<li>Full implementation into WordPress</li>				
					<li>Layout:HTML5/CSS3</li>
					<li>jQuery</li>
					<li>Compatible in IE6+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>English</li>
					<li>Russian</li>					
				</ul>						
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem23 !-->	

	<article id="portfolioItem21" rel="rtm">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set21]" href="/data/content_img/big/ufa_furnitureshopmetras.jpg" ><img src="/data/content_img/middle/ufa_furnitureshopmetras.jpg" height="160" width="340" alt="online Furniture Store" /></a>

		</div>
		<div class="rightFloat">
			<h2 class="title">Metras</h2>
			<h3 class="subtitle">Furniture Store</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
				<ul>
					<li>PHP5(CodeIgniter framework) + MySQL</li>
					<li>Layout:XHTML 1.0 Strict/CSS + PIE</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem21 !-->		
	
	<article id="portfolioItem20" rel="front-end">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set20]" href="/data/content_img/big/cherkessk_min_ek_rzv.jpg" ><img src="/data/content_img/middle/cherkessk_min_ek_rzv.jpg" height="160" width="340" alt="Goverment website" /></a>

		</div>
		<div class="rightFloat">
			<h2 class="title">Goverment website</h2>
			<h3 class="subtitle">Ministry of Economic Development of the Karachai-Cherkess Republic</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Layout:XHTML 1.0 Strict/CSS</li>
					<li>Front-end: jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem20 !-->	
	
	<article id="portfolioItem4" rel="rtm">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set4]" href="/data/content_img/big/ufa_karatekontakt.jpg" ><img src="/data/content_img/middle/ufa_karatekontakt.jpg" height="160" width="340" alt="Karate kontakt" /></a>

		</div>
		<div class="rightFloat">
			<h2 class="title">Karate kontakt</h2>
			<h3 class="subtitle">Club website for Karate Kyokushin team</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Design</li>
					<li>PHP5(CodeIgniter framework) + MySQL</li>
					<li>Layout:XHTML 1.0 Strict/CSS + PIE</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>

				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>					
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem4 !-->	

	<article  id="portfolioItem3" rel="rtm">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set3]" href="/data/content_img/big/ufa_extremjevelary.jpg" ><img src="/data/content_img/middle/ufa_extremjevelary.jpg" height="160" width="160" alt="Website for kindergarten" /></a>
		</div>
		<div class="rightFloat">
			<h2 class="title">Extreme jevelary</h2>
			<h3 class="subtitle">Extreme jevelary the first version</h3>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Design</li>
					<li>PHP5(CodeIgniter framework) + MySQL</li>					
					<li>Layout:XHTML 1.0 Strict/CSS</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>						
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem3 !-->	
	
	<article id="portfolioItem2" rel="front-end">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set2]" href="/data/content_img/big/ivanovo-wedindservice.jpg" ><img src="/data/content_img/middle/ivanovo-wedindservice.jpg" height="160" width="160" alt="website wedding services" /></a>
		</div>
		<div class="rightFloat">
			<h2 class="title">Wedding services agency</h2>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Layout:HTML5/CSS3</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>						
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem2 !-->
	
	<article  id="portfolioItem1"  rel="rtm">		
		<div class="leftFloat">
		<a class="imageLink middle" rel="lightbox[set1]" href="/data/content_img/big/ufa_ds_sosenki.jpg" ><img src="/data/content_img/middle/ufa_ds_sosenki.jpg" height="160" width="160" alt="Website for kindergarten" /></a>
		</div>
		<div class="rightFloat">
			<h2 class="title">Website for kindergarten</h2>
			<div class="description">
				<p>
				<strong>WHAT I DID</strong>
				<ul>
					<li>Design</li>
					<li>PHP5(CodeIgniter framework) + MySQL</li>					
					<li>Layout:XHTML 1.0 Strict/CSS</li>
					<li>jQuery</li>
					<li>Compatible in IE7+, Firefox, Safari, Chrome</li>
				</ul>
				<strong>Languages</strong>
				<ul>
					<li>Russian</li>					
				</ul>						
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</article><!-- end of portfolioItem1 !-->
</div>
<div id="endOfPage" class="clear"></div>