
<nav id="portfolioFilter">	
	<span class="filterClick activated" rel="all">Show all</span>	
	<span class="filterClick" rel="front-end"> Front-end &amp; static</span>	
	<span class="filterClick" rel="rtm">Php &amp; CodeIgnitor framework</span>		
	<span class="filterClick" rel="wordpress">Wordpress</span>	
</nav>


<div class="container">
	<article class="row portfolio-item" ng-repeat="item in portfolio">		
		<div class="col-md-8 col-xs-12">
		<a class="image-link middle" ng-click="showInModal()" href="/app/data/content_img/big/{{item.poster}}" ><img ng-src="/app/data/content_img/middle/{{item.poster}}" height="160" width="340" alt="{{item.name}}" /></a>
		<br />
		<a ng-repeat="image in item.images" ng-click="showInModal()" class="image-link" href="/app/data/content_img/big/{{image}}" bs-modal ><img ng-src="/app/data/content_img/tmbls/{{image}}" height="160" width="160" alt="{{item.name}}" /></a>
		</div>
		
		<div class="col-md-4 col-xs-12">
			<h1 class="portfolio-title">{{item.name}}</h1>
			<h2 class="portfolio-subtitle">{{item.description}}</h2>
			<div class="portfolio-description">
				<p ng-show="item.link"><a href="{{item.link}}">{{item.link}}</a></p>
				<p>
					<strong>WHAT I DID</strong>
					<ul>
						<li ng-repeat="work in item.made">{{work}}</li>
					</ul>
					<strong>Languages</strong>
					<ul>
						<li ng-repeat="lang in item.languages">{{lang}}</li>
					</ul>
				</p>
			</div>
		</div>
	</article><!-- end of portfolioItem !-->	
</div>	
