			<div class="container-fluid slider-box" ng-mouseenter="pause()" ng-mouseleave="backToRotate()">
				<div class="slider">
					<ul class="slides">
						<li class="slide" ng-repeat="slide in demoSlides">
							<img ng-src="{{slide.src}}" alt="">
						</li>
					</ul>
					<span class="slide-prev" ng-click="rotate(true)"></span>
					<span class="slide-next" ng-click="rotate()"></span>
					<span class="slide-description">
						<p class="slide-description-header">These are my last works</p> 
						<p class="slide-description-text">check other, in my <a href="#/portfolio">portfolio</a></p>
					</span>
				</div>
			</div>